body{background-image:url("S__1671175.jpg") ;}
p{font-weight:bold;}

e{font-family:monospace;}

h1{font-size:200%;color:yellow;}
h2{font-size:200%;color:red;}
h3{font-size:200%;color:blue;}
ol{list-style-type:lower-greek;}